main {
  width: 100%;
  padding: 20px;
  height: calc(100vh - 2 * var(--nav-height));
}

section {
  width: 100%;
  height: 100%;
  background: rgba(240, 193, 123, 0.4); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left top,
    rgba(75, 18, 72, 0.4),
    rgba(240, 193, 123, 0.4)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left top,
    rgba(75, 18, 72, 0.4),
    rgba(240, 193, 123, 0.4)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
